.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-row {
  display: flex;
  gap: 10px;
}

.input-row input {
  flex: 1;
}

.otp-input {
  font-size: 2rem;
  letter-spacing: 15px;
  text-align: center;
  font-weight: bold;
  border-color: #1ed760 !important;
}

.toggle-text {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #b3b3b3;
}

.toggle-text span {
  color: #1ed760;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.email-btn {
  background: #282828 !important;
  border: none !important;
}